/Backup
/Library
/Temp
/.vs
/obj
/Build
/.vscode
*.sln
*.csproj

/Assets/Externals
/Assets/Externals.meta
/Assets/Models
/Assets/Models.meta
/Assets/App/Sounds
/Assets/App/Sounds.meta
/Assets/App/Animations
/Assets/App/Animations.meta


